* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 6vh, 5rem);
    margin-bottom: 20px;
}

.wrapper {
    margin-top: 30px;
    gap: 1rem;
}

.keypadsContainer {
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    gap: 4rem;
}

.keyboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    font-size: 2rem;
    min-width: 250px;
    max-width: 250px;
}

.key {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #262626;
    color: white;
    padding: 5px;
    text-align: center;
}

.container,
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resetButton {
    padding: 0.5rem 1rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
}

.resetButton:hover {
    cursor: pointer;
}

#roms {
    margin-top: 2rem;
}

.arrow {
    font-size: 3rem;
}
